main.main-content {
  margin-top: 64px;
}

.titleContent > h1 {
  font-size: 20px;
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
  display: flex;
  gap: 15px;
}

.titleContent {
  margin-bottom: 20px;
}

.titleContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.personalite {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.image > input {
  height: 150px;
  border: 1px solid gray;
  border-radius: 50%;
  width: 150px;
  background-image: url("../assets/image/logo.png");
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

form select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  text-align: center;
  font-weight: bold;
}

.anarana {
  display: grid;
  gap: 10px;
}

.andraikitra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.safidy {
  display: flex;
  justify-content: space-around;
}

.safidy > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.safidy input {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.safidy p {
  margin: 0;
}

.safidy input:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.ray {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
img#imagePreview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
label.image-upload-label {
  text-align: center;
  cursor: pointer;
}

.image-preview-container {
  display: grid;
}
